{% extends 'layout.html' %} {% set active_page = 'sobre' %} {% block title
%}Quem somos{% endblock %}{% block content %}
<div class="container my-5">
  <h1 class="text-center mb-4">Quem Somos</h1>
  <div class="row">
    <div class="col-md-6">
      <img
        src="https://via.placeholder.com/600x400"
        class="img-fluid"
        alt="Img 1"
      />
    </div>
    <div class="col-md-6">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
        ullamcorper risus vel urna laoreet, vitae efficitur est elementum.
      </p>
      <p>
        Quisque vulputate justo sit amet urna cursus, non ultrices elit
        volutpat. Phasellus in felis ac purus dictum tempus.
      </p>
    </div>
  </div>
</div>
{% endblock %}
